/* Glassmorphism Styles */
 .pop-up-menu{

   }
.pop-up-menu .MuiPaper-root{
    background: rgba(0, 0, 0, 0.13);
    min-width: 16rem;
    backdrop-filter: blur(12px);
    color: white;
    border-radius: 45px;
    corner-shape: squircle;
    padding-inline: 5px !important;

 }

.pop-up-menu-item{
    display: flex;
    justify-content: start !important;
    align-items: center;
    gap: 1rem;
    opacity: 0.7;
    margin: 5px !important;
    width: 100%;

}

.pop-up-menu-item:hover{
    opacity:1;
}


.pop-up-menu-item-logout{
    opacity: 1;
  }